parameters:
    level: 8
    paths:
        - includes
        - bh-wp-venmo-gateway.php
        - autoload.php
        - uninstall.php
        - tests
#        - development-plugin
    excludePaths:
        - build (?)
        - vendor-prefixed
    bootstrapFiles:
        - phpstanbootstrap.php
        - autoload.php
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
        - vendor/wp-cli/wp-cli/php/class-wp-cli-command.php
    scanDirectories:
        - vendor-prefixed
#        - wp-content/plugins/...
        - wp-content/plugins/woocommerce
        - vendor/wp-cli
    scanFiles:
        - vendor/antecedent/patchwork/Patchwork.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#LoggerInterface\|null#'
        - '#apply_filters invoked with#'
